.hidden {
  display: none !important;
}

html {
  background-color: #e5e5e5;
  margin: 0;
}

.container {
  max-width: 575px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 1.5rem 4vh;
  background-color: #f0f0f0;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.column-full,
.column-half {
  width: 100%;
}

/* anything directly after this element will be placed to the left.
   it's a bit of a misnomer but i'll get around to renaming it soon */
.justify-right {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
}

.justify-space-between {
  display: flex;
  justify-content: space-between;
}

.margin-bot {
  margin-bottom: 2rem;
}

@media screen and (min-width: 600px) {
  .container {
    max-width: 900px;
  }

  .column-half {
    width: 50%;
    flex-basis: 48.8%;
  }

  h2 {
    padding: 0;
  }

  h3 {
    margin: 0;
  }
}
