* {
  font-family: Merriweather, Times, serif;
}

.container > header {
  background-color: #562b81;
  color: white;
  font-family: "Nanum Gothic", Arial, sans-serif;

  /* negative margins to grow the element */
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

img {
  width: 100%;
  max-height: 40vh;
}

input,
textarea {
  width: 100%;
  margin-top: 0.4rem;
}

.entry-save {
  background-color: #562b81;
  color: white;
}

p {
  line-height: 1.6;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

h3 {
  padding: 0;
}

.container header p {
  margin: 0;
  padding: 0.7rem 1.5rem;
}

label {
  height: auto;
  display: inline-block;
  margin: 1.5rem 0 0;
  width: 100%;
}

button {
  background-color: #562b81;
  color: white;
  padding: 0.4rem 0.8rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border-radius: 6px;
  border-style: none;
  letter-spacing: 0.03rem;
  font-family: "Nanum Gothic", Arial, sans-serif;
}

textarea {
  resize: none;
  height: 18vh;
}

.headlinks {
  display: flex;
}

.headlinks a {
  color: white;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.centered-text {
  text-align: center;
}

.modal {
  display: none;
}

.modal.blur {
  display: block;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgb(37 37 37 / 90%);
}

.modalcontent {
  padding: 1.2rem 2.7rem 0.1rem;
  background-color: white;
  border-radius: 6px;
  width: fit-content;
  margin: 25vh auto;
}

.center button {
  margin: 5rem;
}

.modal-yes-select {
  background-color: #dc2626;
  padding: 0.5rem;
  font-size: 105%;
}

.modal-no-select {
  background-color: #b6b6b6;
  color: black;
  padding: 0.5rem;
  font-size: 110%;
}

.modalcontent > h2 {
  font-size: 100%;
  font-family: sans-serif;
}
